  <%# index page coding %>
<div class="index-midbody">

  <%# BANNER OVERLAY - GIV%>
  <header>
    <div class="overlay">
      <h1>Cuddler Dogs</h1>
      <p class="text">Capturing Moments. A Journey of Discovery with Your Fur Friend</p>
    </div>
  </header>

  <%# search bar - breed, price min and max %>
  <div class="search-box">
  <h1 id="search">SEARCH</h1>
  </div>
  <div class="search-bar">
    <div class="container mx-auto">
      <div class="textbox row justify-content-center">
        <%= form_tag dogs_path, method: :get, class: "row g-3" do %>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag :breed, "Breed" %>
              <%= text_field_tag :breed, params[:breed], class: "form-control border border-secondary-subtle" %>
            </div>
          </div>

          <div class="col-md-3 ">
            <div class="form-group">
                <%= label_tag :min_price, "Minimum Price" %>
                <%= number_field_tag :min_price, params[:min_price], class: "form-control border border-secondary-subtle" %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
                <%= label_tag :max_price, "Maximum Price" %>
                <%= number_field_tag :max_price, params[:max_price], class: "form-control border border-secondary-subtle" %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
            <%# &nbsp is a special character (html): its space  that will keep things in line without breaking %>
            <%# <label class="d-block">&nbsp;</label> %>
              <div class="box-buttons">
                <%= button_tag "Filter", type: :submit, class: "button-positive" %>
                <%= button_tag "Reset", type: :button, onclick: "window.location.href = '#{dogs_path}'", class: "button-negative" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# CARDS of dogs %>
  <h1 class="cards-title"> Cuddly Fluffy Dogs </h1>
  <div class="container mx-auto card-container-dog row">
    <%# for each dog, shuffle the display of cards each time page is refreshed %>
      <% @dogs.shuffle.each do |dog| %>
        <div class="col-sm-6 col-md-3 justify-content-center">
          <div class="card dogs-main-card">
            <%# contains img of dog and owner username %>
            <div class="card-img-top">
              <% if dog.photo.attached? %>
                <%= cl_image_tag(dog.photo.key, width:200, height:200, class: "object-fit-cover", crop: :fill, gravity: :face , :cloud_name => "dbv8jpvj5")%>
              <% else %>
              <%= image_tag 'https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F768082%2Fgettyimages-1320436824.jpg&op=resize&w=1200&h=630' %>
              <% end %>
            </div>
            <%# adding users user-name to dog card %>
            <div class="mask text-light d-flex justify-content-center align-items-center flex-column text-center rounded px-2">
                <h3 class="car-img-overlay text-center fst-italic text-secondary-emphasis" style="text-align:center; font-size:12px; letter-spacing:0.03em; color: #3B3B3A"><i class="fa-regular fa-user"></i><%= dog.users_username %></h3>
              </div>
            <%# dog info section & price %>
            <div class="card-body">
              <div class="dog-details">
                <h2 class="card-title dog-name"><%= dog.name %></h2>
                <p class="dog-short-info">Breed: <%= dog.breed %></p>
              </div>
              <p class="dog-short-info">Price: $<%= dog.price %></p>
              <%# dog description box %>
              <p class="card-dog-description">
                Description: <%= dog.description %>
              </p>
            </div>

            <%# button to view dog %>
            <div class="card-footer text-center">
              <%= link_to 'View', dog_path(dog), class: 'button-positive' %>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <%# Thank you section %>
<div class="thankyou-container">
  <div class="thank-you">
    <h4 id="members">24,000+ members and growing</h4>
    <p>The joy and companionship dogs provide is life changing and infectious. Not everyone is in
a position to own a dog and in an increasingly busy world, those who do own a dog, sometimes
need help. <span class="cuddlerdog">Cuddlerdog</span> makes it easy to connect with each other</p>
    <div class="dogs row">
      <div class="col-3">
        <%= image_tag 'https://images.unsplash.com/photo-1576201836106-db1758fd1c97?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "dog-pic" %>
        </div>
        <div class="col-3">
        <%= image_tag 'https://www.dailypaws.com/thmb/GkbU_s-p43WQ6556cRt5E5m-_EY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/black-puppy-ball-157684732-2000-1e5d824a32334921befb896c82e0fef0.jpg', class: "dog-pic"  %>
        </div>
        <div class="col-3">
        <%= image_tag 'https://www.imagediamond.com/blog/wp-content/uploads/2022/06/cute-funny-dog-portrait-with-butterfly-sitting-on-2022-04-08-16-51-43-utc-min-2-1024x684.jpg', class: "dog-pic"  %>
        </div >
        <div class="col-3">
        <%= image_tag 'https://worldanimalfoundation.org/wp-content/uploads/2023/09/cute-puppies-1024x660.jpg', class: "dog-pic"  %>
        </div>
        <div class="col-3">
      </div>
    </div>
  </div>
</div>

<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>

</div>
