<div class="d-flex justify-content-center">
  <div class="form-wrap border border-warning m-5" style="width: 35rem;">
  <br>
  <h2 class="text-center dashboard-heading">Add dog to listing</h2>

  <div class="form m-5 ml-5">
    <%= simple_form_for(@dog) do |f| %>
      <%= f.input :users_username %>
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:"button-positive"%>
    <% end %>
  </div>
  </div>
</div>
