<div class="container show-page">
  <h1 class="show-dog-title">Welcome to <%= @dog.name %>'s Page</h1>

  <div class="row">
    <div class="dog-title-photo col-sm-12 col-md-6 justify-content-center">
      <div class="dog-img">
        <% if @dog.photo.attached? %>
          <%= cl_image_tag @dog.photo.key, width: 500, height: 400, crop: :fill, gravity: :face, class: :rounded, :cloud_name => "dbv8jpvj5" %>
        <% else %>
          <p><%= @dog.name %> is shy and doesn't have a picture yet 🙈</p>
        <% end %>
      </div>
    </div>

    <div class="body-footer col-sm-12 col-md-6 justify-content-center">
      <div class="body">
        <div class="body-doginfo">
          <p><strong>Breed: </strong><%= @dog.breed %> </p>
          <p><strong>Cost: </strong><%= @dog.price %></p>
        </div>

        <br>

        <div class="description">
          <p><strong>Little bit about our sweet <%= @dog.name %>, the <%= @dog.breed %> </strong></p>
          <p class="show-dog-description"> <%= @dog.description %> </p>
        </div>
      </div>
      <div class="footer-dogshowpage">
        <% if current_user && current_user.id == @dog.user.id %>
          <%= link_to 'Edit', edit_dog_path(@dog), class: 'button-positive' %>
          <%= link_to "Delete", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete #{ERB::Util.html_escape(@dog.name)}?"}, class: 'button-negative' %>
        <% else %>
          <%= link_to 'Rent this dog', new_dog_rental_path(@dog), class: 'button-positive' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
