<div class="form-wrap ms-4 mt-3">
<br>
<h1 class="text-center">Rental a dog</h1>
<br>
<%= simple_form_for [@dog, @rental] do |f| %>
<%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
<%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit %>
<% end %>
</div>
<%# button %>
<div class="button-container">
  <div class="btn">
  <span><%= link_to "Back to rental lists", dog_rentals_path, class: "btn btn-primary" %></span>
    </div>
</div>
