<div class="d-flex justify-content-center">
<div class="form-wrap border border-warning m-5" style="width: 35rem;">
<br>
<h1 class="text-center">Rental a dog</h1>
<br>
<div class="form m-5 ml-5">
<%= simple_form_for [@dog, @rental] do |f| %>
<%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
<%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit %>
<% end %>
</div>
</div>
</div>
<%# button %>
<div class="button-container">
  <div class="btn d-flex justify-content-center">
  <span ><%= link_to "Back to home", root_path, class: "button-positive" %></span>
    </div>
</div>
