<!DOCTYPE html>
<html>
  <head>
    <title>Cuddlerdog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div class="container">
      <%= yield %>
    </div>

    <%# Footer part of this page %>
    <footer>
      <p> © 2024 Cuddler Dog. Proudly created by Le Wagon B.1497 2024 </p>
      <p> For all your cuddle needs </p>
    </footer>
  </body>
</html>
